---
version: 2
updates:
  # Create PRs for dependency updates
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: weekly
    commit-message:
      prefix: "deps: "

  # Create PRs for golang version updates
  - package-ecosystem: docker
    directory: /
    schedule:
      interval: weekly
    commit-message:
      prefix: "docker: "
