name: Test
on: [push, pull_request, workflow_call]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.24'
      - name: Run linter
        run: |
          set -eu
          make goimports-reviser lint
      - name: Run tests
        run: |
          set -eu
          make test
      - name: Build binary
        run: |
          set -eu
          make build
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build OCI image
        uses: docker/build-push-action@v6
        with:
          push: false
          tags: gardener/inventory-extension-odg:latest

  publish-oci:
    if: github.event_name == 'push' && github.repository == 'gardener/inventory-extension-odg'
    uses: ./.github/workflows/oci-images.yaml
    needs:
      - test
    with:
      mode: snapshot
